#canvas-container {
  float:right;
  background-image: url(background.png);
  height: 490px;
  width: 793px;
  border: 1px solid black ;
}

canvas {
   display: inline;
}

fieldset{
  float:left; 
  height: 300px;
  width: 500px;
  
} 

footer{
  position:fixed;
  bottom:0;
  
}